/* --------------------------------- */
/*           Header Styles           */
/* --------------------------------- */

.hero
  background-color: #21abc7
  padding: 20px 0
  color: #fff
  text-align: center

.logo
  font-size: 34px
  text-transform: uppercase
  font-weight: bold
