/* --------------------------------- */
/*            List Styles            */
/* --------------------------------- */
@import "colors"

.news-item
  border-bottom: 1px solid #b6b6b6
  margin-bottom: 20px
  padding-bottom: 20px

.news-link
  color: $color-blue
  font-size: 22px
  margin-bottom: 15px
  display: block
  &:hover
    color: lighten($color-blue, 20%)
  &:active
    color: darken($color-blue, 20%)
  &:focus
    color: lighten($color-blue, 30%)

.news-meta-item
  display: inline
  margin-right: 5px
  font-size: 14px

/* States */

.is-liked
  animation: flash 2s

/* Animation */

@keyframes flash
  from, 50%, to
    opacity: 0
  25%, 75%
    opacity: 1
