/* --------------------------------- */
/*            List Styles            */
/* --------------------------------- */
@import "colors"

.news-item
  border-bottom: 1px solid #b6b6b6
  margin-bottom: 20px
  padding-bottom: 20px

.news-link
  color: $color-blue
  font-size: 22px
  margin-bottom: 15px
  display: block

.news-meta-item
  display: inline
  margin-right: 5px
  font-size: 14px
