/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* --------------------------------- */
/*           Header Styles           */
/* --------------------------------- */
/* line 6, ../sass/_header.sass */
.hero {
  background-color: #21abc7;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font: Montserrat, sans-serif;
}

/* line 14, ../sass/_header.sass */
.logo {
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
}

/* --------------------------------- */
/*            List Styles            */
/* --------------------------------- */
/* line 6, ../sass/_list.sass */
.news-item {
  border-bottom: 1px solid #b6b6b6;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

/* line 11, ../sass/_list.sass */
.news-link {
  color: #21abc7;
  font-size: 22px;
  margin-bottom: 15px;
  display: block;
}
/* line 16, ../sass/_list.sass */
.news-link:hover {
  color: #68d1e6;
}
/* line 18, ../sass/_list.sass */
.news-link:active {
  color: #126070;
}
/* line 20, ../sass/_list.sass */
.news-link:focus {
  color: #94deed;
}

/* line 23, ../sass/_list.sass */
.news-meta-item {
  display: inline;
  margin-right: 5px;
  font-size: 14px;
}

/* --------------------------------- */
/*                Base               */
/* --------------------------------- */
/* line 19, ../sass/base.sass */
body {
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 16px;
}

/* line 24, ../sass/base.sass */
a {
  color: #d93842;
}
/* line 26, ../sass/base.sass */
a:hover {
  color: #e98e93;
}
/* line 28, ../sass/base.sass */
a:active {
  color: #901b23;
}
/* line 30, ../sass/base.sass */
a:focus {
  color: #f2b8bc;
}

/* line 34, ../sass/base.sass */
.container {
  max-width: 800px;
  margin: 0 auto;
}
